@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}
body{
    background-color: $primary-color;
    font-weight: weight(bold);
}
.main{
    width:80%;
    margin:0 auto;
    //Esto es para hacer una cadena
    #{&}-para{
        color:$secondary-color;
        transition:all 0.5s;
        &:hover{
            color:$third-color;
        }
    }
    
}