@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin theme($light-theme:true){
    @if $light-theme{
        background: lighten($primary-color,100%);
        color:darken($secondary-color,100%);
        
    }
}

@mixin flexCenter($direction){
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin mobile{
    @media (max-width: 800px){
        @content
    }
}

body{
    background-color: $primary-color;
    font-weight: weight(bold);
}
.main{
    @include flexCenter(row);
    width:80%;
    margin:0 auto;
    //Esto es para hacer una cadena
    #{&}-para{
        color:$secondary-color;
        transition:all 0.5s;
        &:hover{
            color:$third-color;
        }
    }
    
}
.light{
    @include theme($light-theme:false);
}